html, body {
  overflow-x: hidden; /*negative margins and padding to extend the background in both directions. To avoid triggering horizontal scrolling*/
}

body {
	background: #BDC3C7;
	color: #1A1C2C;
  font-family: sans-serif;
  margin:0px;
  scroll-behavior: smooth;

}
.container {

	max-width: 1366px;
	margin: 0 auto;

}

.introback {
  background:#f2f2f2;
  max-width: 1366px;
  margin: 0 auto;
  height: 850px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The sidepanel links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  top: -25px;
  font-size: 50px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: top 0.3s ease-in-out; /* Transition effect when sliding down (and up) */
}

.openbtn :hover {
  background-color: #444;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -90px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 30px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Increase font size */
  font-family: sans-serif;
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */

}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#about {
  top: 40px;
  background-color: #4CAF50;
}

#projects {
  top: 140px;
  background-color: #2196F3; /* Blue */
}

#contactme {
  top: 240px;
  background-color: #f44336; /* Red */
}

#resume {
  top: 340px;
  background-color: #555 /* Light Black */
}

 /*  #E89005  Orange color */

.intro{
  text-align: center;
  font-family: sans-serif;
   position: relative;
    left: 50%;
    margin-top: 25px;
    width: 600px;
    margin-left: -300px;
}

.profile-picture {
  margin-top: 130px;
	border: 3px solid black; 
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}
.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	font-family: sans-serif;
  padding: 5px;
}
.i-am, .i-like {
	text-align: center;
	text-decoration: none
}

.about-list {
	list-style: none;
	padding: 5px;
} 

#projectsection{
  margin-top: 125px;
  padding: 300px 0;
}

/* Heading of section */
.projects-heading {
	text-align: center;
	font-family: sans-serif;
    top: 50%;
    z-index: 100;
    padding: 0 2rem 2rem;
    width: 600px;
    margin-left: 25%
  
}
/* Adds shadow to image */
.project-image {
border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}
/* Activates shadow to image on hover*/
.project-image:hover {
	filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}
/* Displays Image Title Text*/
.project-image-wrapper{
	justify-self: center;
	padding: 4%;
	position: relative;
}
/* Makes Image Title Text visable upon hovering*/
.project-image-wrapper:hover > h4 {
	visibility: visible;
}
/* Makes Image Title hidden until hover*/
.project-image-wrapper > h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
	font-family: sans-serif;
}

 /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 25px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Hide the slides by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
/* Hide the slides by default */
.mySlides {
  display: none;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#contact{
   margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba(0, 0, 0, 0.5);

}
footer {
    background-color: #555;
    color: #bbb;

}

form input, textarea {
	border-radius: 5px;
	width: 240px;
	font-family: sans-serif;
}

form {
	width: 250px;
	margin: 0 auto; /* contact me */

}

form input[type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}
.ft-social {
    padding: 0 2rem 2rem;
}
.links-list {
  display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;

}
.ft-contact {
  justify-self: center;
  font-family: sans-serif;

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-device-width: 480px) {
      .sidenav { width: auto;}
      .sidebar a {font-size: 18px;}
}        
@media only screen and (max-device-width: 375px) {
  .intro .introback {
    grid-template-columns: 100%;
  }
}
@media (max-width: 375px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
  .modal-content {
    width: 100%;
  }
} 


